<div class="d-flex justify-content-center">
    <button *ngIf="showClient" class="btn btn-outline-dark w-75 mb-5" routerLink="/new-transaction" type="button">MAKE A NEW TRANSACTON</button>
</div>



<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let transaction of transactions">
    <div class="card h-100" style="width: 300px;">
      
      <img src="../assets/images/bank.svg"  class="card-img-top" alt="..." style="width: 100px; height: 50px; margin-top: 20px;">
      <div class="card-body">
        <h5 class="card-title"  class="bg-success" >Source Account: {{ transaction.sourceAccountId}}</h5>
        <h4 class="card-title"  class="bg-warning" >Recipient Account: {{ transaction.recipientAccountId}}</h4>
        <h4 class="card-title">Amount: {{ transaction.amount}}</h4>
        <h4 class="card-title" class="" >Date de creation: {{ transaction.transactionDate}}</h4>
      </div> 
    </div>
  </div>
</div>